.cat-card {
  position: relative;
  text-align: center;
  color: white;
  width: clamp(19rem, 25vw, 30rem);
}

.cat-card img {
  width: 100%;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0) 100%);
  transition: mask-image 0.3s ease-out;
}

.icon-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5.3rem;
  height: 14vh;
  width: 24vw;
  transition: font-size 0.3s ease-out;
}

.title {
  position: absolute;
  bottom: 3.5rem;
  left: 1.5rem;
  font-size: 1.5rem;
  transition: transform 0.3s ease-out;
}

.subtitle {
  position: absolute;
  bottom: 2rem;
  left: 1.5rem;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.55);
  transition: transform 0.3s ease-out;
}

.cat-card:hover img{
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0) 100%);
}

.cat-card:hover .title {
  transform: translate(7px, 0);
}
.cat-card:hover .subtitle {
  transform: translate(7px, 0);
}
