<div class="cat-card">
  <a [routerLink]="['/entries',categoryData.route]" [state]="{entries: categoryData.entries, name: categoryData.name }">
    <img src="/assets/img/{{categoryData.imagePath}}" alt="Card Image">
    <mat-icon class="icon-center">{{categoryData.icon}}</mat-icon>
    <a class="title">{{categoryData.name}}</a>
    <span class="subtitle">
      <a>Jour&nbsp;{{categoryData.day}}</a>
      <!-- <app-dot-icon Radius="10px" Color="rgba(255, 255, 255, 0.55)"></app-dot-icon> -->
    </span>
  </a>
</div>
