.entry-card {
  position: relative;
  width: clamp(19rem, 25vw, 30rem);
  height: clamp(3.5rem, 7vh, 10rem);
  overflow: hidden;
}

.entry-card img {
  width: 100%;
  transform: translate(0%, -40%);
  z-index: -1;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0) 100%);
  transition: mask-image 0.3s ease-out, transform 0.1s ease-in-out;
}

.entry-card .entryTitle {
  position: absolute;
  padding-left: 1.3rem;
  bottom: 0.85rem;
  left: 0;
  font-size: 2rem;
  transition: transform 0.2s ease-out;
}

.entry-card:hover img{
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0) 100%);
  transform: translate(0%, -40%) scale(1.2);
}

.entry-card:hover .entryTitle{
  transform: translate(1rem, 0);
}
