.entry-card {
  position: relative;
  width: clamp(19rem, 25vw, 30rem);
  height: 7vh;
  overflow: hidden;
}

.entry-card img {
  width: 100%;
  transform: translate(0%, -40%);
  z-index: -1;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0) 100%);
  transition: mask-image 0.3s ease-out;
}

.entry-card .entryTitle {
  position: absolute;
  padding-left: 1.3rem;
  bottom: 0.85rem;
  left: 0;
  font-size: 2rem;
}
