.active-link {
  color: #04AA6D; /* Add an active/current color */
}

.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  z-index: 100;
}

.hidden {
  display: none;
}

.mat-icon-button {
  padding: 0 0 0.6rem 0;
  line-height: 0;
}
