.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.title {
  font-size: 25px;
}

/*.sidenav .mat-toolbar {
  background: inherit;
}*/

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.material-icons {
  font-weight: 400;
}

.mat-icon {
  vertical-align: middle;
}

.mat-button {
  font-size: 17px;
}

.spacer {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

.hidden#anchorSun, .hidden#anchorMoon {
  display: none;
}

.active-link#dark{
  color: #05c46b;
}
.active-link#light{
  color: #34e7e4;
}

.themeSwitcher#sun {
  rotate: 0deg;
  transition: rotate 1.2s;
}

.themeSwitcher#moon {
  scale: 1;
  transition: scale 0.3s;
}

.themeSwitcher#moon:hover {
  scale: 1.3;
}

.themeSwitcher#sun:hover {
  rotate: 340deg;
}
