@use '@angular/material' as mat;
@include mat.core();

//define light theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
  )
));

//define dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-grey-palette);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
  )
));

//Apply dark theme by default
//@include mat.core-theme($dark-theme);
//@include mat.button-theme($dark-theme);
@include mat.all-component-themes($dark-theme);

//Switch to light theme only when .alternative-theme class is applied
.alternative-theme {
  //@include mat.core-color($light-theme);
  //@include mat.button-color($light-theme);
  @include mat.all-component-themes($light-theme);
}
